.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff; /* White background */
  color: #333; /* Dark text for better contrast */
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a modern look */
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10%;
  padding-top: 15%;
}
.sidebar h3,h2 {
  padding-left: 10%;
  padding-top: 10%;
}
.sidebar ul li {
  padding: 16px;
  font-size: 16px;
}

.sidebar ul li a {
  text-decoration: none; /* Remove underline */
  color: #333;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  margin-right: 12px; /* Space between icon and text */
  font-size: 18px; /* Adjust icon size */
}
