.add-button {
  position: fixed;
  top: 20px;
  left: 1490px;
  padding: 10px 13px;
  font-size: 16px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
  background-color: #45a049; /* Darker green */
}

.add-button i {
  font-size: 1rem;
}

.table {
  width: 100%;
  table-layout: fixed; /* Makes columns consistent */
}
.table th {
  background-color: #065009;
}

/* Consistent cell and header padding */
.table th,
.table td {
  padding: 12px; /* Adjust padding as needed */
  vertical-align: middle;
  font-size: 1rem;
}
/* Add form */
label {
  color: green;
}
.close {
  color: #064d18;
  float: right;
  background-color: white;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.update {
  background-color: #064d18;
  color: white;
}
.update:hover,
.update:focus {
  background-color: rgb(17, 53, 20);
  text-decoration: none;
  cursor: pointer;
}
.black-icon {
  color: black;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.black-icon:hover {
  color: gray; /* Optional hover effect */
  transform: scale(1.1); /* Optional zoom effect */
}
